.kubio-toggle-control {
	> .components-base-control__field {
		flex-direction: row-reverse;
		justify-content: space-between;
	  	margin-bottom: 8px;

		.components-form-toggle {
		  	margin-right: 0;
		}

		.components-toggle-control__label {
			cursor: unset;
		}
	}
}

.components-form-toggle {
  &:not(.is-checked) .components-form-toggle__track {
	border: 1px solid $ui-menu-item-light;
  }

  &.is-disabled {
	opacity: 1;

	&.is-checked .components-form-toggle__track {
	  background: $ui-menu-item-light;
	}

	&:not(.is-checked) {
	  .components-form-toggle__thumb {
		border: none;
		background-color: $ui-menu-item-light;
	  }
	}
  }
}
