.icem-section-title {

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--icem-spacing);

	&__title {
		margin: 0;
		margin-bottom: 5px;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.2;

	}

	&__description {
		margin: 0;

		color: var(--icem-muted-text-color);
		line-height: 1.5;
		font-size: 16px;
	}

}
