.iconvertem-new-template-list {

	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));
	gap: 10px;

	@media (max-width: 2000px) {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
	@media (max-width: 1600px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	@media (max-width: 1200px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	@media (max-width: 1000px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@media (max-width: 768px) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	&__item {
		width: 100%;
		cursor: pointer;

		transition: 0.3s ease-in-out;
		transition-property: border-color;
		position: relative;

		box-shadow: 0px 1px 3px 0px #0000001A;
		border-radius: var(--icem-border-radius);
		overflow: hidden;

		&:hover,
		&--active {
			border-color: #3858e9;
		}

		&__title {
			background: #F5F5F5;
			font-size: 14px;
			line-height: 1.5;
			font-weight: 500;
			padding-left: 15px;
			padding-right: 15px;
			height: 33px;
			padding-top: 0;
			padding-bottom: 0;
			display: flex;
			align-items: center;
		}

		&__image {
			&__container {
				width: 100%;
				height: 320px;
				overflow: hidden;
				position: relative;
				border-radius: var(--icem-border-radius);
				padding: 20px;
				padding-bottom: 0;
				background: white;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;

				img {
					width: 100%;
					height: auto;
					max-width: 100%;
					border-radius: var(--icem-border-radius);
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				&:hover {
					.iconvertem-new-template-list__item__image {
						&__blur,
						&__button {
							opacity: 1;
						}
					}
				}
			}

			&__blur {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				backdrop-filter: blur(5px);
				transition: opacity 0.3s ease-in-out;
				opacity: 0;
				border-radius: var(--icem-border-radius);
			}

			&__button {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: opacity 0.3s ease-in-out;
				opacity: 0;
			}
		}

	}

	&__templates__container {
		background: #F5F5F5;
		margin-left: -32px;
		margin-right: -32px;
		margin-bottom: -32px;
		display: flex;
		flex-direction: column;
		flex: 1 0 0;
		padding: 32px;
		padding-bottom: 0;
		overflow-y: auto;
	}

	&__container {
		display: flex;
		width: 100%;
		flex-direction: column;
		flex: 1;
	}



	&__filters-container {
		display: flex;
		margin-bottom: 10px;
		justify-content: space-between;
		gap: 20px;

		.icem-search-template-input__container {
			input {
				width: 320px !important;
			}

		}
	}
	&__category-list {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		justify-content: flex-start;
		align-items: center;
		flex: 0 0 auto;
		background: #F5F5F5;
		border-radius: 10px;
		padding: 3px;
		--min-width: calc(100% - 400px);
		max-width: var(--min-width);
		min-width: min(1000px, var(--min-width));


		&__item {

			padding-left: 8px;
			padding-right: 8px;
			padding-top: 4px;
			padding-bottom: 4px;
			border-radius: 10px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.5;
			transition: 0.3s ease-in-out;
			background-color: transparent;
			transition-property: background-color;
			cursor: pointer;

			&:hover,
			&--active {
				background-color: white;


				//box-shadow: 0px 1px 2px -1px #0000001A;
				box-shadow: 0px 1px 3px 0px #0000001A;

			}
		}
	}
}
