
.toplevel_page_iconvertem {
	#wpcontent {
		padding: 0;
	}
}
.iconvertem-admin-page-layout {
	min-height: calc(100vh - 32px);
	display: flex;
	flex-direction: column;
	color: var(--icem-text-color);

	&__header {
		background-color: white;
		padding: 30px;
		font-weight: bold;
		font-size: 20px;
		margin: 0;
	}

	&__content{
		padding: var(--icem-spacing);
		flex: 1;
		display: flex;
		flex-direction: column;

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: var(--icem-spacing);

			&__title {
				margin: 0;
				margin-bottom: 5px;
				font-size: 20px;
				font-weight: bold;
				line-height: 1.2;

			}

			&__description {
				margin: 0;

				color: var(--icem-muted-text-color);
				line-height: 1.5;
				font-size: 16px;
			}
		}
	}


}
.toplevel_page_iconvertem {
	#wpfooter {
		display: none;
	}
	#wpbody-content {
		padding-bottom: 0;
	}
}
