@import "./components/header/style.scss";
@import "./components/header/header-toolbar/style.scss";
@import "./components/keyboard-shortcut-help-modal/style.scss";
@import "./components/layout/style.scss";
@import "./components/secondary-sidebar/style.scss";

@import "./components/sidebar/style.scss";
@import "./components/sidebar/settings-header/style.scss";
@import "./components/visual-editor/style.scss";

/**
 * Animations
 */

// These keyframes should not be part of the _animations.scss mixins file.
// Because keyframe animations can't be defined as mixins properly, they are duplicated.
// Since hey are intended only for the editor, we add them here instead.
@keyframes edit-post__fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// In order to use mix-blend-mode, this element needs to have an explicitly set background-color
// We scope it to .wp-toolbar to be wp-admin only, to prevent bleed into other implementations
html.wp-toolbar {
  background: $white;
}

body.block-editor-page {
  @include wp-admin-reset(".block-editor");
}

// Fix issue with wp-admin menu not scrolling between 170% and 200% zoom.
.block-editor-page #wpwrap {
  overflow-y: auto;
  @include break-medium() {
    overflow-y: initial;
  }
}

// Target the editor UI excluding the visual editor contents, metaboxes and custom fields areas.
.edit-post-header,
.edit-post-text-editor,
.edit-post-sidebar,
.editor-post-publish-panel,
.components-popover,
.components-modal__frame,
.edit-post-editor__inserter-panel {
  @include reset;
}

.block-editor__container {
  // On mobile the main content area has to scroll, otherwise you can invoke
  // the overscroll bounce on the non-scrolling container, for a bad experience.
  @include break-small {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: calc(100vh - #{$admin-bar-height-big});
  }

  // The WP header height changes at this breakpoint.
  @include break-medium {
    min-height: calc(100vh - #{$admin-bar-height});

    body.is-fullscreen-mode & {
      min-height: 100vh;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@include wordpress-admin-schemes();

.interface-interface-skeleton__sidebar {
  background: #fafafa;
}

.interface-interface-skeleton__content {
  overflow: hidden;
}

.kubio-sidebar .components-tab-panel__tab-content {
  max-height: calc(100vh - 200px);
  overflow: auto;
}

.kubio-panel-body {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span.components-base-control__label {
    text-transform: none !important;
    font-size: 13px !important;
    font-weight: normal !important;
  }
}

.media-modal.wp-core-ui {
  z-index: 999999999;
}

.interface-interface-skeleton__secondary-sidebar {
  .kubio-sidebar {
    max-height: 100%;
    height: 100%;
  }
}

.kubio-sidebar {
  .block-editor-url-input {
    min-width: unset;
  }
}
