body:not(#extra-1) {
	.icem-select {

		&__select {
			select {
				border-radius: var(--icem-border-radius);
				height: var(--icem-controls-height);
				min-height: var(--icem-controls-height);
				font-size: 14px;
				color: var(--icem-text-color);
				padding-left: 12px;
				padding-right: 12px;


			}

			.components-input-control__backdrop {
				border-radius: var(--icem-border-radius);
				border: 1px solid var(--icem-border-color);
				box-shadow: 0px 1px 2px 0px #0000000D;
			}

		}
		&__container {
			.components-input-control-suffix-wrapper {
				svg {
					color: var(--icem-muted-text-color);
				}
			}

		}
	}
}
