@import '../base-styles/_variables';
@import '../base-styles/_bem';
@import '../base-styles/mixins';

@import 'components/style';

// The `.kubio-ui-reset` class should be used on elements on canvas which should not be affected by edited styles.
.editor-styles-wrapper .kubio-ui-reset {
	azimuth: revert;
	border-collapse: revert;
	border-spacing: revert;
	caption-side: revert;
	color: revert;
	cursor: revert;
	direction: revert;
	elevation: revert;
	empty-cells: revert;
	font-family: revert;
	font-size: revert;
	font-style: revert;
	font-variant: revert;
	font-weight: revert;
	font: revert;
	letter-spacing: revert;
	line-height: revert;
	list-style-image: revert;
	list-style-position: revert;
	list-style-type: revert;
	list-style: revert;
	orphans: revert;
	pitch-range: revert;
	pitch: revert;
	quotes: revert;
	richness: revert;
	speak-header: revert;
	speak-numeral: revert;
	speak-punctuation: revert;
	speak: revert;
	speech-rate: revert;
	stress: revert;
	text-align: revert;
	text-indent: revert;
	text-transform: revert;
	visibility: revert;
	voice-family: revert;
	volume: revert;
	white-space: revert;
	widows: revert;
	word-spacing: revert;
}

.kubio-preserve-caps,
.kubio-preserve-caps label {
	text-transform: unset !important;
}

.kubio-control {
	.components-base-control__label {
		display: block;
		margin-bottom: 0;
	}
}

.components-base-control:last-of-type > .components-base-control__field:last-of-type {
  	margin-bottom: 0;
}
