/* Change Focal Point Height */
.components-focal-point-picker-control {
  height: 165px;
  max-height: 165px;
  border: 1px solid #cccccc;

  .components-base-control__field {
    height: 165px;
    max-height: 165px;

    .components-base-control__label {
      display: none;
    }

    .components-focal-point-picker-wrapper {
      height: 165px;
      max-height: 165px;

      .components-focal-point-picker {
        max-height: 165px;
        box-shadow: 0px 0px 0px;

        .components-focal-point-picker__grid {
          max-height: 165px;
        }

        .components-focal-point-picker__media {
          max-height: 165px !important;
        }
      }
    }
  }

  .focal-point-picker__controls {
    display: none !important;
  }

  .components-focal-point-picker-wrapper {
    margin-bottom: 10px;
    @include transparent-bg-grid();
  }
}
