body:not(#extra-1) .iconvertem-new-template-modal {
	width: 95vw;
	height: 95vh;
	max-height: unset;

	&--newsletter {
		.iconvertem-new-template-list__search-input,
		.iconvertem-new-template-modal__form {
			max-width: 1000px;
		}


	}

	.components-modal__header + div {
		display: flex;
		flex-direction: column;
		gap: 30px;
		height: 100%;
	}

	.icem-modal {
		&__container {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		&__content {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}
	}

	&__form {
		flex: 0 0 auto;
		margin-bottom: 20px;
		display: flex;
		gap: 10px;

		> * {
			flex: 1;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}
	}
}


.icem-search-and-add-component {
	display: flex;
	align-items: center;
	gap: 20px;

	.components-base-control__field {
		margin: 0;
	}

	input {
		width: 320px !important;
		padding-right: 35px !important;
	}
}

.icem-search-template-input {
	&__container {
		height: var(--icem-controls-height);
		position: relative;
	}

	&__search-icon {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		fill: var(--icem-muted-text-color);
	}
}

.icem-template-list-table {
	th, td {
		max-width: 10vw;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.icem-toggle-control {
		margin: 0;
	}
	&--loading-content,
	&--empty-content {
		background: white;
		width: 100%;
		height: 500px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--icem-border-radius);
	}
	&--loading-content {
		.components-spinner {
			width: 50px;
			height: 50px;
		}
	}
	&__actions {
		display: flex;
		gap: 20px;
		align-items: center;

		svg {
			cursor: pointer;
			fill: var(--icem-primary-bg-color);

			&:hover {
				fill: var(--icem-primary-bg-color--hover)
			}
		}
	}


	&__delete-icon:not(#extra-1) {
		fill: var(--icem-destruction-color);
		&:hover {
			fill: var(--icem-destruction-color--hover);
		}
	}

	&__send-icon:not(#extra-1) {
		fill: #3B82F6;
		&:hover {
			fill: #2563EB;
		}
	}

}

.iconvertem-edit-template-modal {
	.icem-modal__content {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
.icem-send-test-email-modal__email-description{
	font-size: 14px;
	color: var(--icem-muted-text-color);
	margin-top: 0;
}
.icem-send-copy-code-button,
.icem-send-test-email-button {
	gap: 10px !important;
}
