.icem-table {
	width: 100%;
	border-collapse: collapse;
	background: #fff;
	border-radius: var(--icem-border-radius);
	overflow: hidden;
	font-size: 14px;






	&__head {

		text-align: left;

		.icem-table__th {
			font-weight: 700;
			padding: 12px 16px;
			border-bottom: 1px solid #ddd;
		}
	}

	&__body {
		.icem-table__tr {
			border-bottom: 1px solid var(--icem-border-color);

		}

		.icem-table__td {
			padding: 10px 16px;
			vertical-align: middle;
		}
	}

	&__pagination {
		margin-top: var(--icem-spacing);
		display: flex;
		justify-content: flex-end;
		gap: 20px;
	}

}
