:root {
	--icem-text-color: #0A0A0A;
	--icem-spacing: 30px;
	--icem-primary-bg-color: #171717;
	--icem-primary-bg-color--hover: #404040;
	--icem-primary-text-color: #FAFAFA;
	--icem-muted-text-color: #737373;
	--icem-border-color: #E5E5E5;
	--icem-destruction-color: #DC2626;
	--icem-destruction-color--hover: #B91C1C;
	--icem-border-radius: 8px;
	--icem-controls-height: 36px;
}
